@charset "UTF-8";

@media screen and (max-width: 668px) {

    tr {
        font-size: 12px;
    }
    
     nav#menu {
        max-width: 323px;
        height: auto;
     }

     ul li:hover {
        transition: 100ms;
        background-color: #c7bc7b6c;
      }

     /*ÁREA CPU.CSS*/
        #h1 {
            display: block;
            padding: 2px;
        }
     /*ÁREA CPU.CSS*/

     /*Página informações*/
    header#back {
      position: fixed;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 1px;
    }
    /*Página informações*/
}