@charset "UTF-8";

@media screen and (max-width: 668px) {

    tr {
        font-size: 12px;
    }
    
     nav#menu {
        max-width: 323px;
     }

     ul li:hover {
        transition: 100ms;
        background-color: #c7bc7b6c;
      }

     /*ÁREA CPU.CSS*/
        #h1 {
            display: block;
        }
     /*ÁREA CPU.CSS*/
}