@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: monospace;
}

abbr {
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
header h1 {
  padding: 15px;
  text-align: center;
}

header img {
  padding: 10px;
  max-width: 100%;
}

main {
  padding: 10px;
}

main section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main section table {
  font-size: 18px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.297);
  max-width: 600px;
  padding: 10px;
  border-radius: 12px;
}

main section table tr {
  border: 1px solid black;
}

main section table th {
  width: 120px;
  text-align: right;
  padding: 2px 4px;
  border-radius: 10px 0px 0pc 5px;
}

main section table td {
  padding: 2px 4px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

footer img {
  cursor: pointer;
  width: 35px;
  border-radius: 50%;
}

div#inf {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 4px;
}

div#inf.mostrar {
  display: flex !important;
}

nav#Informações {
  background-color: rgba(155, 227, 243, 0.104);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  list-style: none;
  padding: 3px;
  box-shadow: 0px 0px 5px 0px rgba(36, 134, 205, 0.301);
  border-radius: 4px;
}


nav#Informações a {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.762), transparent, transparent, transparent, rgba(255, 255, 255, 0.762));
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 5px;
  margin: 3px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  border-radius: 4px;
}

nav#Informações a:hover {
  transition: 250ms;
  
  background-color: rgba(255, 255, 255, 0.441);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.279);
}

/*Área de footers com botão backward*/
footer#back {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer#back img {
  padding: 4px 0px;
  width: 25px;
  opacity: 80%;
  border-radius: 50%;
}

footer#back img:hover {
  transition: 200ms;
  width: 35px;
  opacity: 100%;
}/*Área de footers com botão backward*/